<h1>Home#need_login</h1>

<div class="blank_slate_container" id="dashboard_default_message">
  <span class="blank_slate">
    <span><%= I18n.t("active_admin.dashboard_welcome.welcome") %></span>
    <small><%= I18n.t("active_admin.dashboard_welcome.call_to_action") %></small>
  </span>
</div>
